#content_articles
  - @projects.each do |project|
    %article
      %header
        %time.date
          =project.created_at.strftime('%m/%d/%Y')
        =link_to project.title, project
      .content
        =markdown project.description
      %footer