- flash.each do |key, value|
  %div{class: "alert alert-#{key}", id:'flash'}= value

%article#post_show_content.skinny_wrapper
  %header
    %time.date
      =@project.created_at.strftime('%m/%d/%Y')
      %h1
        =@project.title
  %hr
  %content
    =@project.description
  %hr
  #share_article
    %p
      Partager cette article
    %nav
      %a{:onclick => "javascript:window.open('http://twitter.com/share?text=#{@project.title} by @sdromacque - &url=#{url_for([@project, {only_path: false}])}', '_blank', 'width=800, height=500, top=200, left=300');void(0);"}
        %i.fa.fa-twitter.fa-2x
    -#todo other link
    -#=render 'disqus'
  =link_to 'edit', edit_project_path(@project)