#content_articles
  - @posts.each do |post|
    %article
      %header
        %time.date
          =post.created_at.strftime('%m/%d/%Y')
        =link_to post.title, post
      .content
        =markdown post.content
      %footer
  =paginate @posts
