.wrapper.clearfix
  .col-1.homepage_content
    %h2 About
    %hr
    %p Sensors die with metamorphosis at the evasive habitat tightlyengage!
  .col-2.homepage_content
    %h2 Project
    %hr
    %h3 Todo list
    %p Ubi est placidus canis?
  .col-3.homepage_content
    %h2 Project
    %hr
    %h3 Todo list
    %p Ubi est placidus canis?