%article#post_show_content.skinny_wrapper
  %header
    %time.date
      =@post.created_at.strftime('%m/%d/%Y')
      %h1
        =@post.title
  %hr
  %content
    =@post.content
  %hr
  %footer
    %p
      Partager cette article
    %nav
    %a{:href => "#"}
      %i.fa.fa-twitter.fa-2x{'aria-hidden' => 'true' }
      %i.fa.fa-linkedin.fa-2x{'aria-hidden' => 'true' }
      %i.fa.fa-github.fa-2x{'aria-hidden' => 'true' }