/*
 *= require normalize-rails
 *= require_tree .
 *= require_self
 */

$dark: #424652;
$light: #9a9da4;
$highlight: #8bc6db;
$border: #E9E9E9;

.clearfix:before,
.clearfix:after{
  content: " ";
  display: table;
}
.clearfix:after{
  clear: both;
}
.wrapper{
}
#main_navigation{
  padding: 2.5em 5%;
  border-bottom: 1px solid $border;
  .name{
    font-weight: 700;
    font-size: .8em;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid $border;
    padding: 0.75em 1rem;
    color: $dark;
    float: left;
  }
  nav{
    float: right;
    padding-top: .9rem;
    a{
      color: $dark;
      text-decoration: none;
      margin: 0 1em;
      font-size: 1rem;
    }
  }
}