/*
 *= require normalize-rails
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


$dark: #424652;
$light: #9a9da4;
$highlight: #8bc6db;
$border: #E9E9E9;

body{
  font-family: 'Raleway', sans-serif;
}

.clearfix:before,
.clearfix:after{
  content: " ";
  display: table;
}
.clearfix:after{
  clear: both;
}
.wrapper{
  width: 90%;
  margin: 0 auto;
}

.skinny_wrapper {
  width: 80%;
  max-width: 760px;
  margin: 0 auto;
}
#main_navigation{
  padding: 2.5em 5%;
  border-bottom: 1px solid $border;
  .name{
    font-weight: 700;
    font-size: .8em;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid $border;
    padding: 0.75em 1rem;
    color: $dark;
    float: left;
  }
  nav{
    float: right;
    padding-top: .9rem;
    a{
      color: $dark;
      text-decoration: none;
      margin: 0 1em;
      font-size: 1.5rem;
    }
  }
}
.homepage_content{
  h2{
    font-size: 1.1rem;
    text-transform: uppercase;
  }
  hr{
    width: 3em;
    display: block;
    height: 2px;
    border: 0;
    border-top: 2px solid $highlight;
    margin: 2rem 0;
  }
  h3{
    font-size: 1.25em;
    font-weight: 400;
    margin-bottom: .5em;
  }
  .date{
    font-size: .85em;
    margin-bottom: 2em;
    color: $light
  }
  p{
    margin: 0 0 .75em 0;
  }
  a{
    color: $highlight;
    font-weight: 700;
  }
}
footer{
  padding: .5em 5%;
  border-top: 1px solid $border;
  .copyright{
    text-align: center;
    //display: inline;
  }
  nav{
    float: right;
    i{
      color: $dark;
      margin-left: 1em;
      padding-top: .2em;
    }
    i:hover{
      color: $highlight;
    }
  }
}
#content_articles{
  width:80%;
  margin: 0 auto;
  header{
    text-align: center;
    .date{
      font-size: .85em;
      color: $light;
      display: block;
    }
  }
  .content{
    text-align: center;
  }
  footer{
    border-top: 2px solid $highlight;
    width: 3em;
    margin: 2rem auto 0;
  }
  article:last-child > footer{
    border-top: none;
  }
}

#post_show_content {
  header {
    text-align: center;
    .date {
      font-size: .9em;
      color: $light;
      margin: 0;
    }
    h1 {
      margin: 0;
    }
  }
  hr {
    width: 10em;
    display: block;
    height: 2px;
    border: 0;
    border-top: 2px solid $highlight;
    margin: 1em auto;
  }
  #share_article {
    text-align: center;
    p {
      padding: 0 0 1em 0;
      margin: 0;
      font-weight: 700;
      text-transform: uppercase;
      color: $dark;
      font-size: .8em;
    }
    i {
      color: $dark;
      padding: 1em 1.5em;
      &:hover {
        color: $highlight;
        cursor: pointer;
      }
    }
  }
}
