%footer
  %p.copyright.text-center
    &copy; 2016 Dromacque Sébastien
  %nav
    %a{:href => "#"}
      %i.fa.fa-twitter.fa-2x{"aria-hidden" => "true"}
      %i.fa.fa-linkedin.fa-2x{"aria-hidden" => "true"}
      %i.fa.fa-github.fa-2x{"aria-hidden" => "true"}