
!!!
%html
  %head
    %title Blog
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    %link{:href => 'https://fonts.googleapis.com/css?family=Raleway:400,700', :rel => 'stylesheet', :type => 'text/css'}/
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    =render 'layouts/header'
    =render 'layouts/flash_message'

    = yield
    =render 'layouts/footer'
